html, body{
	width: 100%;
	height: 100%
}
.dialog-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
}
.dialog-mask{
	position: absolute;
	background: black;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.dialog-box{
	width: 400px;
	height: 300px;
	background: white;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -150px;
}
.dialog-title-box{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #ccc;
}
.dialog-title{
	float: left;
}
.dialog-close-btn{
	float: right;
}